// SPDX-License-Identifier: (GPL-2.0 OR MIT)
//
// Device Tree file for LX2160ARDB
//
// Copyright 2018-2020 NXP

/dts-v1/;

#include "fsl-lx2160a-as4561.dtsi"

/ {
	model = "NXP Layerscape LX2160ARDB";
	compatible = "fsl,lx2160a-rdb", "fsl,lx2160a";

	aliases {
		crypto = &crypto;
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	sb_3v3: regulator-sb3v3 {
		compatible = "regulator-fixed";
		regulator-name = "MC34717-3.3VSB";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	accton_fpga: as8160_fpga {

	};
};

&can0 {
	status = "okay";

	can-transceiver {
		max-bitrate = <5000000>;
	};
};

&can1 {
	status = "okay";

	can-transceiver {
		max-bitrate = <5000000>;
	};
};

&crypto {
	status = "okay";
};

&dpmac7 {
	status = "okay";
	fixed-link = <10 1 10000 0 0>;
	phy-connection-type = "usxgmii";
};
&dpmac8 {
	status = "okay";
	fixed-link = <11 1 10000 0 0>;
	phy-connection-type = "usxgmii";
};
&dpmac9 {
	status = "okay";
	fixed-link = <12 1 10000 0 0>;
	phy-connection-type = "usxgmii";
};
&dpmac10 {
	status = "okay";
	fixed-link = <13 1 10000 0 0>;
	phy-connection-type = "usxgmii";
};
&dpmac17 {
	status = "okay";
	phy-handle = <&sgmii_phy0>;
	phy-connection-type = "rgmii-id";
};

&emdio1 {
	status = "okay";

	sgmii_phy0: ethernet-phy@0 {
		compatible = "ethernet-phy-id0141.0dd1";
		reg = <0x0>;
		eee-broken-1000t;
	};

	rgmii_phy1: ethernet-phy@1 {
		compatible = "ethernet-phy-id0141.0dd1";
		reg = <0x1>;
		eee-broken-1000t;
	};
};

&esdhc0 {
	status = "okay";
};

&esdhc1 {
	status = "disable";
};

&fspi {
	status = "okay";

	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <5000000>;  /* 5M */

		partition@0 {
			reg = <0x0 0x1000000>;
			label = "uboot";
		};

		partition@1 {
			reg = <0x1000000 0x100000>;
			label = "uboot-env";
		};

		partition@2 {
			reg = <0x1100000 0x2800000>;
			label = "onie";
		};
	};

	flash@1 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <1>;
		spi-max-frequency = <5000000>; /* 5M */

		partition@0 {
			reg = <0x0 0x1000000>;
			label = "uboot";
		};

		partition@1 {
			reg = <0x1000000 0x100000>;
			label = "uboot-env";
		};

		partition@2 {
			reg = <0x1100000 0x2800000>;
			label = "onie";
		};
	};
    /*
	mt35xu512aba0: flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		m25p,fast-read;
		spi-max-frequency = <5000000>;
		reg = <0>;
		spi-rx-bus-width = <8>;
		spi-tx-bus-width = <8>;
	};

	mt35xu512aba1: flash@1 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		m25p,fast-read;
		spi-max-frequency = <5000000>;
		reg = <1>;
		spi-rx-bus-width = <8>;
		spi-tx-bus-width = <8>;
	};
    */
};

&dspi1 {
	status = "okay";
	spi-tpm@0 {
		compatible = "infineon,slb9670";
		/*mode 0*/
		reg = <0>;
		/*spi-max-frequency = <38000000>;*/
		spi-max-frequency = <4000000>; /* 4M */
	};
	dflash1: flash@1 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <1>;
		spi-max-frequency = <1000000>; /* 1M */

		partition@0 {
			reg = <0x0 0x01000000>;
			label = "fpga";
		};

		partition@1 {
			reg = <0x0 0x003f0000>;
			label = "golden";
		};

		partition@2 {
			reg = <0x3f0000 0x00010000>;
			label = "timer1";
		};

		partition@3 {
			reg = <0x400000 0x00400000>;
			label = "primary";
		};

		partition@4 {
			reg = <0x800000 0x00010000>;
			label = "timer2";
		};
	};
};

&i2c0 {
	status = "okay";
        clock-frequency = <370000>;

	i2c_mux@70 {
		compatible = "nxp,pca9548";
		reg = <0x70>;
		i2c-mux-idle-disconnect;
		#address-cells = <0x1>;
		#size-cells = <0x0>;

		i2c@0 {
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			reg = <0x0>;

			i2c@48 {
				compatible = "nxp,lm90";
				reg = <0x48>;
			};
		};
		i2c@1 {
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			reg = <0x1>;

			i2c@48 {
				compatible = "nxp,lm90";
				reg = <0x48>;
			};
		};
		i2c@2 {
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			reg = <0x2>;

		};
		i2c@3 {
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			reg = <0x3>;

			asc10@60 {
				compatible = "asc10";
				reg = <0x60>;

				vmon1 { label = "VDD1P2_MAC";        vmin=<1152>;    vmax=<1248>; };
				vmon2 { label = "VDD1P8_analog";     vmin=<1746>;    vmax=<1900>; };
				vmon3 { label = "VDD0P8_analog";     vmin=<776>;     vmax=<840>;  };
				vmon4 { label = "VDD1P2";            vmin=<1164>;    vmax=<1236>; };
				vmon5 { label = "VDDK_0P8_near_end"; vmin=<784>;     vmax=<820>;  };
				vmon6 { label = "VDD1P0";            vmin=<970>;     vmax=<1040>; };
				vmon7 { label = "VDD3P3_CLK";        vmin=<3135>;    vmax=<3465>; };
				vmon8 { label = "VDDK_0P8_far_end";  vmin=<784>;     vmax=<816>;  };
				vmon9 { label = "3P3_CPU_SSD";       vmin=<3135>;    vmax=<3465>; };
				himon { label = "VCC12_CPU";         vmin=<11640>;   vmax=<12360>; };
				tmon1 { label = "QDD11,QDD13";       tmin=<(-5000)>; tmax=<75000>; };
				tmon2 { label = "-QDD8";             tmin=<(-5000)>; tmax=<75000>; };
				tmon_local { label = "-FPGA_B2B-Right"; tmin=<(-5000)>; tmax=<75000>; };
			};

			asc10@61 {
				compatible = "asc10";
				reg = <0x61>;

				vmon1 { label = "SYS_3P3";             vmin=<3135>;  vmax=<3465>; };
				vmon2 { label = "LED_3P3";             vmin=<3135>;  vmax=<3465>; };
				vmon3 { label = "CPU_SO_3P3";          vmin=<3135>;  vmax=<3465>; };
				vmon4 { label = "CPU_AUX_3P3";         vmin=<3135>;  vmax=<3465>; };
				vmon5 { label = "VSTB_3P3";            vmin=<3135>;  vmax=<3465>; };
				vmon6 { label = "QDD01_16_3P3";        vmin=<3135>;  vmax=<3465>; };
				vmon7 { label = "QDD17_32_3P3";        vmin=<3135>;  vmax=<3465>; };
				vmon8 { label = "VDD5V_STBY";          vmin=<4850>;  vmax=<5150>; };
				vmon9 { label = "VCC5V";               vmin=<4850>;  vmax=<5150>; };
				himon { label = "VCC12";               vmin=<11640>; vmax=<12360>; };
				tmon1 { label = "QDD3";                tmin=<(-5000)>; tmax=<75000>; };
				tmon2 { label = "QDD29,QDD31";         tmin=<(-5000)>; tmax=<75000>; };
				tmon_local { label = "-FPGA_B2B-Right"; tmin=<(-5000)>; tmax=<75000>; };
			};
		};
		i2c@4 {
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			reg = <0x4>;

			eeprom@57 {
				compatible = "atmel,24c256";
				reg = <0x57>;
			};
		};
		i2c@5 {
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			reg = <0x5>;

		};
		i2c@6 {
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			reg = <0x6>;

		};
		i2c@7 {
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			reg = <0x7>;

			rtc@68 {
				compatible = "dallas,ds1339";
				reg = <0x68>;
				interrupts-parent = <&extirq>;
				interrupts = <6 IRQ_TYPE_LEVEL_LOW>;
				interrupts-extended = <&extirq 6 IRQ_TYPE_LEVEL_LOW>;
			};
		};
	};
};
&i2c1 {
	status = "okay";
        clock-frequency = <370000>;
};
&i2c2 {
	status = "okay";
        clock-frequency = <370000>;
};
&i2c3 {
	status = "okay";
        clock-frequency = <370000>;
};
&i2c4 {
	status = "okay";
        clock-frequency = <370000>;
    /*
	rtc@51 {
		compatible = "nxp,pcf2129";
		reg = <0x51>;
		# IRQ_RTC_B -> IRQ08, active low 
		interrupts-extended = <&extirq 8 IRQ_TYPE_LEVEL_LOW>;
	};
    */
};
&i2c5 {
	status = "okay";
        clock-frequency = <370000>;
};
&i2c6 {
	status = "okay";
        clock-frequency = <370000>;
};
&i2c7 {
	status = "okay";
        clock-frequency = <370000>;
};

&pcs_mdio3 {
	status = "okay";
};

&pcs_mdio4 {
	status = "okay";
};

&sata0 {
	status = "okay";
};

&sata1 {
	status = "okay";
};

&sata2 {
	status = "okay";
};

&sata3 {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&usb0 {
	status = "okay";
};

&usb1 {
	status = "okay";
};

&emdio2 {
	inphi_phy: ethernet-phy@0 {
		compatible = "ethernet-phy-id0210.7440";
		reg = <0x0>;
	};
};

&dpmac5 {
	phy-handle = <&inphi_phy>;
};

&dpmac6 {
	phy-handle = <&inphi_phy>;
};
